.forgotPs {
  color: $HospitalGreen;
  font-size: $md;
  text-align: center;
  text-decoration: none;
  margin: 20px 0;
}

.login-btn {
  margin-top: 32px;
}

@media (max-width: 768px) {
  .login-btn {
    position: relative;
    top: 100%;
  }
}
