@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

$VerylightPink: #c7c7c7;
$HospitalGreen: #acd9b2;
$TextInputField: #f7f7f7;
$Dark: #232830;
$lg: 18px;
$md: 16px;
$sm: 14px;

$custonFontFamily: "Quicksand", sans-serif;
